{extend name='Public:layout'/}
{block name='CSS'}

<link href="__CSS__plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<style type="text/css">

</style>

{/block}
{block name='menu'}{$codata[0]['realname']}{/block}
{block name='item'}课程如下{/block}
{block name="content"}

  <div class="col-sm-12">
      
      <table data-toggle="table" data-click-to-select="true" data-mobile-responsive="true">
          <thead>
          <tr>
              <th >课程编号</th>
              <th data-field="name">课程题目</th>
              <th data-field="pic">选课情况</th>
              <th data-field="">限制人数</th>
              <th>课程状态</th>
             
          </tr>
          </thead>
          <tbody>
         {volist name="codata" id="vo"}
          <tr>
              <td >{$key+1}</td>
              <td>{$vo.coursename}</td>
              <td class="project-completion">
                <small>选课进度：{$vo['choosenum']/$vo['limitnum']*100}%--已经报名{$vo['choosenum']}人</small>
                <div class="progress progress-mini">
                    <div style="width:{$vo['choosenum']/$vo['limitnum']*100}%;" class="progress-bar"></div>
                </div>
              </td>
              <td><span class="badge badge-danger">{$vo.limitnum}</span></td>
              <td>
                 <button type="button"  cid='{$vo.id}' statusid='{$vo.status}'  class="changestatus {eq name='vo.status' value='0'} btn btn-success{else/}btn btn-default{/eq}"><?php  $m=$vo['status'];echo $status[$m];?></button>
              </td>
          </tr>
          {/volist}
          </tbody>
      </table>
      {$page}
  {empty name='codata'}
       <div class="jumbotron">
         <div class="container">
           <h1>已经尽力了</h1>
           <p>目前还没有查询同学们选课情况呢</p>
           <p>
             <a class="btn btn-primary btn-lg" onclick="javascript:history.go(-1)">返回</a>
           </p>
         </div>
       </div>
       {/empty}
  </div>


  

  



{/block}
{block name="JS"}
<script src="__JS__plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">


</script>
{/block}

