{extend name='Public:layout'/}
{block name='CSS'}

<link href="__CSS__plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<style type="text/css">

</style>

{/block}
{block name='menu'}院系管理{/block}
{block name='item'}查看院系{/block}
{block name="content"}

  <div class="col-sm-12">
      <div class="fixed-table-toolbar">
          <div class="columns columns-right btn-group pull-right">
              <button class="btn btn-default btn-outline" type="button" title="搜索"><i class="glyphicon glyphicon-search"></i></button>
              <button onclick="javascript:window.location.reload();" class="btn btn-default btn-outline" type="button" name="refresh" title="刷新"><i class="glyphicon glyphicon-repeat"></i></button>
          </div>
          <div class="pull-right search">
              <input class="form-control input-outline" type="text" placeholder="请输入关键字">
          </div>
      </div>
      <table data-toggle="table" data-click-to-select="true" data-mobile-responsive="true">
          <thead>
          <tr>
              <th>编号</th>
              <th data-field="name">教师姓名</th>
              <th data-field="pic">教师头像</th>
              <th>课程数目</th>
              <th>查看详情</th>
              
          </tr>
          </thead>
          <tbody>
          {volist name="codata" id="v"}
          <tr>
              <td>{$key+1}</td>
              <td>{$v.realname}</td>
              <td><img  style="width: 50px;width: 50px;border-radius: 25px;" src="{$v.photo}"></td>
              <td><span class="badge badge-danger">{$v.cnum}</span></td>
              <td>
                  <button type="button" onclick="_openLayerUrl('{:U('detail', array('id'=>$v['tid']))}','课程详情','80%','80%','10%')" class="btn btn-success">点击查看</button>
              </td>
          </tr>
          {/volist}
          </tbody>
      </table>
      {$page}
    {empty name='codata'}
     <div class="jumbotron">
       <div class="container">
         <h1>已经尽力了</h1>
         <p>在等等吧老师还在准备课程</p>
         <p>
           <a class="btn btn-primary btn-lg" onclick="javascript:history.go(-1)">返回</a>
         </p>
       </div>
     </div>
     {/empty}

  </div>


  
</div>


{/block}
{block name="JS"}
<script src="__JS__plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
function _del(obj){
  var oid=$(obj).prev().val();
  _ajaxmodify({url:'__CONTROLLER__/del',msg:'您确定要删除这个院系？',check:"确定",data:{id:oid}});

}
</script>
{/block}

