{extend name='Public:layout'/}
{block name='CSS'}
<style type="text/css">
#hui-up-toast{
  background: green;
}
body{
  height: 600px;
  width: 100%;
overflow:hidden;

}
</style>

{/block}

{block name="content"}

  <div class="hui-wrap" style="position: relative;overflow: hidden;width: 100%">
    <!-- <div style="position: relative;"> -->

<div style="height: 2000px;width:2000px;background: #26A2FF;border-radius:1000px;position: absolute;top:-1770px;left:50%;margin-left: -1000px;;"></div>
<!-- </div> -->
    <div class="hui-media-list" style="background:#26A2FF;height: 200px;position: relative;text-align: center;color:#FFFFFF">
            <div style="margin-top:-40px;left:50%;margin-left:-40px;position: absolute;top:50%">
                <a href="javascript:hui.toast('真实姓名：{$Userdata.realname}');">
                    <img style="width:80px;height:80px;border-radius: 40px;border:solid 2px #fff" src="{$Userdata.photo}" />
                  <p style="color:#FFFFFF">{$Userdata.username}{eq name='Think.session.role' value='Student'}[学生]{else/}[教师]{/eq}</p>
              </a>
    </div>
    </div>  
       
  
     <div class="hui-list" style="background:#FFFFFF; margin-top:58px;">
        <ul>
            <li><a href="javascript:hui.upToast('请登陆电脑端进行管理')" class="hui-arrow hui-icons hui-icons-write">&nbsp;&nbsp;我的选题</a></li>
            <li><a href="{:U('info')}" class="hui-arrow hui-icons hui-icons-msg">&nbsp;&nbsp;通知信息</a></li>
            <li><a href="{:U('classes')}" class="hui-arrow hui-icons hui-icons-forum">&nbsp;&nbsp;班级正选</a></li>
            <li><a href="{:U('guide')}" class="hui-arrow hui-icons hui-icons-my">&nbsp;&nbsp;毕业班学生</a></li>
            <li><a href="{:U('intro')}" class="hui-arrow hui-icons hui-icons-nav">&nbsp;&nbsp;基本资料</a></li>
             <li><a href="{:U('photo')}" class="hui-arrow hui-icons hui-icons-nav">&nbsp;&nbsp;头像设置</a></li>
            <li><a href="{:U('safe')}" class="hui-arrow hui-icons hui-icons-check">&nbsp;&nbsp;密码修改</a></li>
        </ul>
    </div>
    <div class="hui-list" style="background:#FFFFFF; margin-top:28px;">
        <ul>

            <li><a href="{:U('Index/index')}" class="hui-icons hui-icons-home">&nbsp;&nbsp;返回首页</a></li>
           
            <li><a href="{:U('Login/logout')}" class="hui-icons hui-icons-logoff">&nbsp;&nbsp;退出系统</a></li>
        </ul>
    </div>
</div>
  
{/block}
{block name="JS"}



{/block}


