{extend name='Public:layout'/}
{block name='CSS'}
<style type="text/css">
#hui-up-toast{
  background: green;
}
</style>

{/block}

{block name="content"}

<header class="hui-header" style="background:#26A2FF ;">
    <div id="hui-back"></div>
  <h1>基本资料</h1>
  </header>
  <div class="hui-wrap">
<form action="{:U('intro')}" id='signupForm' method="post">
    <div style="margin:28px; margin-bottom:15px;" class="hui-form" >
        <div class="hui-form-items">
            <input type="text" class="hui-input hui-input-clear" value="{$Userdata['realname']}" placeholder="真实姓名" checkType="string" checkData="3,5"  id='realname' checkMsg="真实姓名一般是三到五个汉字" />
        </div>
        <div class="hui-form-items">
            <input type="text" class="hui-input hui-input-clear" placeholder="学号" checkType="int" id="studentid" checkData="9" checkMsg="学号为9位数字" value="{$Userdata['studentid']}" />
        </div>
        
       <div class="hui-form-items">
      <div class="hui-form-items-title">院系专业选择</div>
       <div class="hui-form-select">
        <select name="depart_id" id='depart'>
        <option value=''>--请选择您的院系--</option>
        {foreach name='Dedata' item='vo'}
        <option value='{$vo.id}' {eq name='vo.id' value="$Userdata['depart_id']"} selected{/eq}>{$vo.departname}</option>
       {/foreach}
        </select>
        </div>
        </div>
        <div class="hui-form-items">
        <div class="hui-form-items-title">院系专业选择</div>
        <div class="hui-form-select">
         <select require name="class_id" id='classes'>
          <option value=''>--请选择您的专业--</option>
           {foreach name='Cldata' item='vo'}
           <option value='{$vo.id}' {eq name='vo.id' value="$Userdata['class_id']"} selected{/eq}>{$vo.classname}</option>
          {/foreach}
        </select>
       </div>
       </div>
    
    </div>
    
    
</form> 
    
    <div style="padding:28px; padding-top:0px;">

        <button type="button" class="hui-button hui-button-large hui-primary" id="submit">
           {eq name='Think.get.isIntro' value='1'}补充资料{else/}修改资料{/eq} 
        </button>
    </div>

  </div>
{/block}
{block name="JS"}
 {eq name='Think.get.isIntro' value='1'}<script type="text/javascript">hui.alert('请先完善您的资料好吗？请认真填写否则会造成操作失败','我知道了')</script>{/eq}
<script src="__JS__hui-form.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__base.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
hui.formInit();
hui('#depart').change(function(){
        txt=hui('#depart').val();
       hui('#classes').dom[0].options.length = 0;
        hui.postJSON('__MODULE__/Class/changeClass',{de:txt},function(data){
            // alert(typeod)
              for(var i in data)
              hui('#classes').dom[0].options.add(new Option(data[i],i))
          

        })
    })

hui('#submit').click(function(){
    var res = huiFormCheck('#signupForm');
    // alert(0)
    if(res){
      var url=hui('#signupForm').attr('action');
      var data={'realname':hui('#realname').val(),'studentid':hui("#studentid").val(),'depart_id':hui('#depart').val(),'class_id':hui('#classes').val()}
       _ajaxJson({'url':url,'data':data});
      }
    });

</script>
{/block}


