{extend name='Public:layout'/}
{block name="CSS"}
<style type="text/css">
  
    #list2 li{width:50%; float:left; margin:5px 0px;}
    #hui-footer a{width: 25%;}
    .hui-media-content{
      float: left;
      width: 100%;
      padding-left: 0px;
      padding-right: 2px;
    }
</style>
{/block}
{block name='content'}

 <header class="hui-header" style="background:#26A2FF ;">
      <div id="hui-back"></div>
      <h1>{$Stdetaildata[0]['strealname']}同学选课详情</h1>
  </header>
  <div class="hui-wrap">
   {empty name='Stdetaildata'}
   <div style="padding:30px;"><center><span style="font-size: 50px;color: #f40" class="hui-icons hui-icons-warn">  
  <button  onclick="history.go(-1)" type="button" class="hui-button  hui-button-large " style="color:#ffff;background: green" >不好意思未查询到相关信息，点击返回</button>
   </span>
   </center> 
    </div>
    {/empty}
    <div class="hui-media-list" style="padding:0px;">
    {volist name='Stdetaildata' id='data'}
      <ul>
        <li>
        
            <!--<div class="hui-media-list-img"><img src="img/1.png" /></div>-->
            <div class="hui-media-content">
              <h1>题目：{$data.coursename}</h1>
              <p>指导教师：{$data.terealname}</p>
              <p>
                    选课时间：<span class="hui-badge hui-primary">{$data.createtime}</span>
                    课程状态：
                    
                     {eq name='data.is_success' value='1'}
                        <span class="hui-badge hui-primary">成功选课</span>
                      {else/}
                      {eq name='data.isreceive' value="0"}
                         <span class="hui-badge hui-default">审核中</span>
                      {else/}
                         <span class="hui-badge hui-danger">已拒绝</span>

                       {/eq}
                    {/eq}
                  
              </p>
            </div>
             
       
        </li>
      
      </ul>
     {/volist}
    </div>

  </div>

{/block}
{block name="JS"}
<script type="text/javascript">

</script>

{/block}
