{extend name='Public:layout'/}
{block name='CSS'}

<link href="__CSS__plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<style type="text/css">

</style>

{/block}
{block name='menu'}学生管理{/block}
{block name='item'}院系专业{/block}
{block name="content"}

<div class="col-sm-12">
  <ul class="notes">
      {volist name='dedata' id='data'}
      <li>
          <div>
              <h3>{$data.classname}专业</h3>
              <p>{$data.desc|default='该专业是学校的优秀'}</p>
              <a class="btn btn-primary" href="{:U('Student/detail',array('id'=>$data['id']))}">进专业</a>
          </div>
      </li>
    {/volist} 
    </ul>  
    {empty name='dedata'}
       <div class="jumbotron">
         <div class="container">
           <h1>已经尽力了</h1>
           <p>暂时还没有相关院系的专业信息，抓紧上传吧</p>
           <p>
             <a class="btn btn-primary btn-lg" onclick="javascript:history.go(-1)">返回</a>
           </p>
         </div>
       </div>
       {/empty}

</div>

<div class="col-sm-12">
<div class="col-sm-12"> {$page}</div>
</div>
{/block}
{block name="JS"}
<script src="__JS__plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
</script>
{/block}

