{extend name='Public:layout'/}
{block name="CSS"}
{/block}
{block name="MAIN"}
 <div id="main">
            <!-- Slider Start-->
            <div class="fullwidthbanner-container">
               <div class="fullwidthbanner rslider">
                  <ul>
                     <!-- THE FIRST SLIDE -->
                     <li data-delay="6000" data-masterspeed="300" data-transition="fade">
                        <div class="slotholder"><img src="__HOMEIMG__slider/slider-bg-1.jpg" data-fullwidthcentering="on" alt="Pixma"></div>
                        <div class="caption modern_big_bluebg h1 lft tp-caption start"
                           data-x="40"
                           data-y="85"
                           data-speed="700"
                           data-endspeed="800"
                           data-start="1000"
                           data-easing="easeOutQuint"
                           data-endeasing="easeOutQuint">
                           <h3>亿欣通服务理念</h3>
                        </div>
                        <div class="caption list_slide lfb tp-caption start" 
                           data-easing="easeOutExpo" 
                           data-start="1400" 
                           data-speed="1050" 
                           data-y="180" 
                           data-x="40">
                           <div class="list-slide">
                              <i class="icon-camera slide-icon"></i>
                              <h5 class="dblue">以企业发展为主</h5>
                           </div>
                        </div>
                        <div class="caption list_slide lfb tp-caption start" 
                           data-easing="easeOutExpo" 
                           data-start="1800" 
                           data-speed="1200" 
                           data-y="220" 
                           data-x="40">
                           <div class="list-slide">
                              <i class="icon-search slide-icon"></i>
                              <h5 class="dblue">为企业量身定制 </h5>
                           </div>
                        </div>
                        <div class="caption list_slide lfb tp-caption start" 
                           data-easing="easeOutExpo" 
                           data-start="2200" 
                           data-speed="1350" 
                           data-y="260" 
                           data-x="40">
                           <div class="list-slide">
                              <i class="icon-code slide-icon"></i>
                              <h5 class="dblue"> 对企业永久性负责 </h5>
                           </div>
                        </div>
                      
                     </li>
                     <!-- THE RESPONSIVE SLIDE -->
                     <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                        <img src="__HOMEIMG__sslider/slider-bg-2.jpg" data-fullwidthcentering="on" alt="">
                        <div class="caption large_text sft"
                           data-x="660"
                           data-y="54"
                           data-speed="300"
                           data-start="800"
                           data-easing="easeOutExpo"  >我们公司的</div>
                        <div class="caption large_text sfr"
                           data-x="738"
                           data-y="88"
                           data-speed="300"
                           data-start="1100"
                           data-easing="easeOutExpo"  ><span class="dblue">核心竞争力</span></div>
                        <div class="caption list_slide lfb tp-caption start" 
                           data-easing="easeOutExpo" 
                           data-start="1400" 
                           data-speed="1050" 
                           data-y="180" 
                           data-x="660">
                           <div class="list-slide">
                              <i class="icon-eye-open slide-icon"></i>
                              <h5>卓越的团队</h5>
                           </div>
                        </div>
                        <div class="caption list_slide lfb tp-caption start" 
                           data-easing="easeOutExpo" 
                           data-start="1800" 
                           data-speed="1200" 
                           data-y="220" 
                           data-x="660">
                           <div class="list-slide">
                              <i class="icon-table slide-icon"></i>
                              <h5>高效的开发</h5>
                           </div>
                        </div>
                        <div class="caption list_slide lfb tp-caption start" 
                           data-easing="easeOutExpo" 
                           data-start="2200" 
                           data-speed="1350" 
                           data-y="260" 
                           data-x="660">
                           <div class="list-slide">
                              <i class="icon-ok slide-icon"></i>
                              <h5>永久的售后</h5>
                           </div>
                        </div>
                        
                        <div class="caption lfl"
                           data-x="53"
                           data-y="30"
                           data-speed="300"
                           data-start="1400"
                           data-easing="easeOutExpo">
                           <img src="img/slider/responsive-imac.png" alt="iMac Responsive">
                        </div>
                        <div class="caption lfl"
                           data-x="323"
                           data-y="145"
                           data-speed="300"
                           data-start="1500"
                           data-easing="easeOutExpo">
                           <img src="img/slider/responsive-ipad.png" alt="iPad Responsive">
                        </div>
                        <div class="caption lfl"
                           data-x="472"
                           data-y="253"
                           data-speed="300"
                           data-start="1600"
                           data-easing="easeOutExpo">
                           <img src="img/slider/responsive-iphone.png" alt="iPhone Responsive">
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- Slider End--> 
            <!-- Slogan Start-->
            <div class="bottom-pad-small" style="text-align: center">
               <div class="container">
                  <div class="row">
                     <div class="slogan-content">
                    <div class="col-lg-12 col-md-12">
                           <h2 class="slogan-title align_center"><b>我们的产品优势</b></h2>
                        </div>
                     <!-- <div class="clearfix"></div> -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- Slogan End--> 
            <!-- Main Content start-->
            <div class="main-content">
               <div class="container">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box big ch-item bottom-pad-small">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="icon-fullscreen"></i></div>
                                 <div class="ch-info-back">
                                    <i class="icon-fullscreen"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>Responsive Layout</h3>
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                              </p>
                              <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                      <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="content-box big ch-item bottom-pad-small">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><i class="icon-fullscreen"></i></div>
                                 <div class="ch-info-back">
                                    <i class="icon-fullscreen"></i>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>Responsive Layout</h3>
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                              </p>
                              <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
            <!-- Main Content end--> 
              <!-- Features start -->  
            <div class="features bottom-pad">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3  class="title">我们能做什么</h3>
                        <div class="row">
                           <div class="circular-nav">
                              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 animate_afl">
                                 <div id="cn-tabs">
                                    <div class="service service-1">
                                       <div class="cn-content">
                                          <h4>Premium Sliders</h4>
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                                          <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
                                          <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                                          <div class="clearfix"></div>
                                       </div>
                                       <div class="clearfix"></div>
                                    </div>
                                    <div class="service service-2">
                                       <div class="cn-content">
                                          <h4>Unlimited Colors</h4>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                                          <div class="clearfix"></div>
                                       </div>
                                    </div>
                                    <div class="service service-3">
                                       <div class="cn-content">
                                          <h4>Shortcodes</h4>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                                       </div>
                                       <div class="clearfix"></div>
                                    </div>
                                    <div class="service service-4">
                                       <div class="cn-content">
                                          <h4>300+ Icons</h4>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                                       </div>
                                       <div class="clearfix"></div>
                                    </div>
                                    <div class="service service-5">
                                       <div class="cn-content">
                                          <h4>HTML5 / CSS3</h4>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                                       </div>
                                       <div class="clearfix"></div>
                                    </div>
                                    <div class="service service-6">
                                       <div class="cn-content">
                                          <h4>After Sale Support</h4>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                                       </div>
                                       <div class="clearfix"></div>
                                    </div>
                                    <div class="service service-7">
                                       <div class="cn-content">
                                          <h4>Google Fonts</h4>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                                       </div>
                                       <div class="clearfix"></div>
                                    </div>
                                    <div class="service service-8">
                                       <div class="cn-content">
                                          <h4>Ajax Contact Form</h4>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                                       </div>
                                       <div class="clearfix"></div>
                                    </div>
                                    <div class="service service-9">
                                       <div class="cn-content">
                                          <h4>Valid HTML Files</h4>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                                       </div>
                                       <div class="clearfix"></div>
                                    </div>
                                 </div>
                                 <div class="clearfix"></div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 animate_afr">
                                 <div class="cn-wrapper">
                                    <ul>
                                       <li class="circle-1 circle"><a class="active" href="#">网站建设</a></li>
                                       <li class="circle-2 circle"><a href="#"><span class="icon-rocket"></span></a></li>
                                       <li class="circle-3 circle"><a href="#"><span class="icon-puzzle-piece"></span> </a></li>
                                       <li class="circle-4 circle"><a href="#"><span class="icon-thumbs-up-alt"></span></a></li>
                                       <li class="circle-5 circle"><a href="#"><span class="icon-html5"></span></a></li>
                                       <li class="circle-6 circle"><a href="#"><span class="icon-user"></span></a></li>
                                       <li class="circle-7 circle"><a href="#"><span class="icon-google-plus"></span> </a></li>
                                       <li class="circle-8 circle"><a href="#"><span class="icon-envelope-alt"></span></a></li>
                                       <li class="circle-9 circle"><a href="#"><span class="icon-hand-right"></span></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Features End --> 
           
          
            <!-- Latest Posts start --> 
            <div class="latest-posts">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
                        <h3 class="title">经典案例</h3>
                     </div>
                     <div class="clearfix"></div>
                     <div class="blog-showcase col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1">
                        <ul>
                           <li class="blog-first-el">
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                    <a class="post-item-link" href="__HOMEIMG__portfolio/portfolio-5.jpg" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="__HOMEIMG__portfolio/portfolio-5.jpg"></a>
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="#">Sep 11th, 2013</a></span>
                                 <h4><a href="#" class="title">Blog post title</a></h4>
                                 <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem. Proin augue massa</p>
                                 <a href="#">Read more <i class="icon-double-angle-right"></i></a>
                              </div>
                           </li>
                            <li class="">
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                    <a class="post-item-link" href="__HOMEIMG__portfolio/portfolio-5.jpg" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="__HOMEIMG__portfolio/portfolio-5.jpg"></a>
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="#">Sep 11th, 2013</a></span>
                                 <h4><a href="#" class="title">Blog post title</a></h4>
                                 <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem. Proin augue massa</p>
                                 <a href="#">Read more <i class="icon-double-angle-right"></i></a>
                              </div>
                           </li>
                             <li class="">
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                    <a class="post-item-link" href="__HOMEIMG__portfolio/portfolio-5.jpg" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="__HOMEIMG__portfolio/portfolio-5.jpg"></a>
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="#">Sep 11th, 2013</a></span>
                                 <h4><a href="#" class="title">Blog post title</a></h4>
                                 <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem. Proin augue massa</p>
                                 <a href="#">Read more <i class="icon-double-angle-right"></i></a>
                              </div>
                           </li>
                             <li class="">
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                    <a class="post-item-link" href="__HOMEIMG__portfolio/portfolio-5.jpg" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="__HOMEIMG__portfolio/portfolio-5.jpg"></a>
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="#">Sep 11th, 2013</a></span>
                                 <h4><a href="#" class="title">Blog post title</a></h4>
                                 <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem. Proin augue massa</p>
                                 <a href="#">Read more <i class="icon-double-angle-right"></i></a>
                              </div>
                           </li>
                        
                        </ul>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                  <div class="divider"></div>
               </div>
            </div>
            <!-- Latest Posts End -->
             <!-- Recent works start-->
            <div class="recentworks bottom-pad">
               <div class="container">
                <div class="iaAndn">
                     <div class="row">
                      <div id="iabout" class="iabout  col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <div class="iaHeader">
                              <a class="iaPrev" href="javascript:void(0);" title="上一个"></a><a class="iaNext" href="javascript:void(0);"
                                  title="下一个"></a>
                          </div>
                          <ul class="iaQuery">
                              <li class="iaList">
                                  <div class="iaName">
                                      <span class="iaNameEn">ABOUT US</span><span class="iaNameCn">企业概况</span></div>
                                  <div class="iaBody">
                                      <div class="iaPic">
                                          <a href="/abouts/">
                                              <img src="templets/images/124226034_461n.jpg" /></a> <span class="iaPicMask">
                                          </span><span class="iaPicName">简介</span>
                                      </div>
                                      <div class="iaIntro">
                                          <h4 class="iaTitle">
                                              企业发展之路</h4>
                                          <div class="iaContent">
                                              专门致力于企业网站建设、高端品牌形象设计、交互设计、视觉设计于一体的专业用户体验的互联网服务。互联网是当今不可或缺的沟通方式，越来越多的人通过网络搜寻...
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li class="iaList">
                                  <div class="iaName">
                                      <span class="iaNameEn">团队介绍</span><span class="iaNameCn">企业概况</span></div>
                                  <div class="iaBody">
                                      <div class="iaPic">
                                          <a href="/abouts/">
                                              <img src="templets/images/124226034_461n.jpg" /></a> <span class="iaPicMask">
                                          </span><span class="iaPicName">团队</span>
                                      </div>
                                      <div class="iaIntro">
                                          <h4 class="iaTitle">
                                              探长网络 —— 理念</h4>
                                          <div class="iaContent">
                                              重庆探长网络科技以良好的商业信誉，完善的服务及深厚的技术力量，以客户服务为中心，专业为客户量身打造客户喜欢的网站平台。客户满意度是我们永恒的追求。我们通过敏锐...
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li class="iaList">
                                  <div class="iaName">
                                      <span class="iaNameEn">ABOUT US</span><span class="iaNameCn">企业概况</span></div>
                                  <div class="iaBody">
                                      <div class="iaPic">
                                          <a href="/abouts/">
                                              <img src="templets/images/124226034_461n.jpg" /></a> <span class="iaPicMask">
                                          </span><span class="iaPicName">创业之路</span>
                                      </div>
                                      <div class="iaIntro">
                                          <h4 class="iaTitle">
                                              探长网络科技 —— 文化</h4>
                                          <div class="iaContent">
                                              专门致力于企业网站建设、高端品牌形象设计、交互设计、视觉设计于一体的专业用户体验的互联网服务。互联网是当今不可或缺的沟通方式，越来越多的人通过网络搜寻...
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                          <div class="iaCtrl">
                          </div>
                      </div>
                      <div id="iNews" class="iNews col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <div class="inHeader">
                              <a class="inMore" href="/news/">更多</a> <a class="inNext" href="javascript:void(0);"
                                  title="下一页"></a><a class="inPrev" href="javascript:void(0);" title="上一页"></a>
                              <span class="inNameEn">NEWS</span> <span class="inNameCn">探长网络动态</span>
                          </div>
                          <div class="inQueryWrap">
                              <ul class="inQuery">
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">10</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月10日</span> <a href="/news/hor/3580.html" target="_blank"
                                          class="inTitle" title="高通820又跳票 魅族PRO 5性能强到无朋友">高通820又跳票 魅族PRO 5性能强到无朋友</a>
                                      <div class="inIntro">
                                          近日，手机芯片霸主之一的高通又传来跳票消息，其最新研发的骁龙820原定于今年年底出货，</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">09</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月09日</span> <a href="/news/hor/3579.html" target="_blank"
                                          class="inTitle" title="科技史上最糟糕的5个浏览器，你觉得哪个">科技史上最糟糕的5个浏览器，你觉得哪个</a>
                                      <div class="inIntro">
                                          IE使用的网络化多媒体对象技术，一个漏洞百出的浏览器控件系统，极易受到攻击，直到今年，</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">09</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月09日</span> <a href="/news/hor/3578.html" target="_blank"
                                          class="inTitle" title="钱多多：P2P监管并不是万能的！">钱多多：P2P监管并不是万能的！</a>
                                      <div class="inIntro">
                                          P2P网贷的监管时代呼之欲出。不管是行业内还是投资者，无不翘首以盼。许多投资人认为，只</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">09</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月09日</span> <a href="/news/hor/3577.html" target="_blank"
                                          class="inTitle" title="苹果iOS9 Safari浏览器 广告屏蔽插件  那边">苹果iOS9 Safari浏览器 广告屏蔽插件 那边</a>
                                      <div class="inIntro">
                                          长假最后一夜，第四季 《中国好声音》 总决赛落幕，彻底被一个公司洗脑了，优信 二手车 。</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">09</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月09日</span> <a href="/news/hor/3576.html" target="_blank"
                                          class="inTitle" title="屏蔽广告的，也开始照顾广告的感受了">屏蔽广告的，也开始照顾广告的感受了</a>
                                      <div class="inIntro">
                                          那边苹果刚刚开放了 iOS 9 中 Safari 浏览器的Content Blocking（内容屏蔽）接口给开发者，这厢一个</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">09</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月09日</span> <a href="/news/hor/3575.html" target="_blank"
                                          class="inTitle" title="三星推“以旧换新”活动 iPhone 4S等机型可">三星推“以旧换新”活动 iPhone 4S等机型可</a>
                                      <div class="inIntro">
                                          站长之家（Chinaz.com）10月9日消息 近日，外媒消息称， 三星 首次开启了以旧换新活动，包括三</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">07</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月07日</span> <a href="/news/hor/3574.html" target="_blank"
                                          class="inTitle" title="PornHub：人们越来越喜欢在手机上看小电影">PornHub：人们越来越喜欢在手机上看小电影</a>
                                      <div class="inIntro">
                                          新浪科技讯 北京时间10月4日下午消息，Juniper和PornHub近期进行了一项调查，研究了iOS和Android用</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">06</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月06日</span> <a href="/news/hor/3571.html" target="_blank"
                                          class="inTitle" title="马云油画处女作《桃花源》拍出3600万">马云油画处女作《桃花源》拍出3600万</a>
                                      <div class="inIntro">
                                          在香港的苏富比拍卖会上， 马云和曾梵志合作的油画《桃花源》，以130万元港币起拍，经过</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">06</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月06日</span> <a href="/news/hor/3570.html" target="_blank"
                                          class="inTitle" title="国平：将网络合作打造成中美关系新亮点">国平：将网络合作打造成中美关系新亮点</a>
                                      <div class="inIntro">
                                          将网络合作打造成中美关系新亮点 习近平主席访美并出席联合国系列活动成果评述四 作者：国</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">05</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月05日</span> <a href="/news/hor/3573.html" target="_blank"
                                          class="inTitle" title="万能的苹果：库克要改变整个科技行业">万能的苹果：库克要改变整个科技行业</a>
                                      <div class="inIntro">
                                          你知道你现在是在一个企业软件公司举行的会议上的对吧？利维问 库克 ，你的公关团队和你说</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">05</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月05日</span> <a href="/news/hor/3572.html" target="_blank"
                                          class="inTitle" title="北京摩托车“二环十三郎”遭严惩：已被">北京摩托车“二环十三郎”遭严惩：已被</a>
                                      <div class="inIntro">
                                          此前，一段名为北京二环13分钟跑完，最高时速237公里的视频在网络上热传。视频中一个摩托车</div>
                                  </li>
                                  <li class="inList">
                                      <div class="inLableDate">
                                          <span class="indDay">05</span><span class="indMonth">Oct.</span></div>
                                      <span class="inDate">2015年10月05日</span> <a href="/news/hor/3569.html" target="_blank"
                                          class="inTitle" title="万事达：三年时间消灭密码">万事达：三年时间消灭密码</a>
                                      <div class="inIntro">
                                          不管是社交还是购物，互联网给人们带来的便利是无与伦比的，但唯一美中不足的，就是需要</div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      </div>
                  </div>
                  
               </div>
            </div>
            <!-- Recent work end-->
            <!-- Our Clients Start-->
            
            <!-- Our Clients End -->  
         </div>
{/block}
{block name="JS"}
{/block}


   



