{extend name='Public:layout'/}
{block name='CSS'}

<link href="__CSS__plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<style type="text/css">

</style>

{/block}
{block name='menu'}专业管理{/block}
{block name='item'}查看专业{/block}
{block name="content"}

  <div class="col-sm-12">
      <div class="fixed-table-toolbar">
          <div class="bars pull-left">
              <div class="btn-group hidden-xs">
                  <button onclick="_openLayerUrl('{:U('create')}','添加')" type="button" class="btn btn-outline btn-default" >
                      <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                  </button>
                  <button onclick="alert('暂时还没有开通')" type="button" class="btn btn-outline btn-default">
                      <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                  </button>
              </div>
          </div>
          <div class="columns columns-right btn-group pull-right">
              <button class="btn btn-default btn-outline" type="button" title="搜索"><i class="glyphicon glyphicon-search"></i></button>
              <button onclick="javascript:window.location.reload();" class="btn btn-default btn-outline" type="button" name="refresh" title="刷新"><i class="glyphicon glyphicon-repeat"></i></button>
          </div>
          <div class="pull-right search">
              <input class="form-control input-outline" type="text" placeholder="请输入关键字">
          </div>
      </div>
      <table data-toggle="table" data-click-to-select="true" data-mobile-responsive="true">
          <thead>
          <tr>
              <th data-field="id" data-checkbox="true"></th>
              <th data-field="name">名称</th>
              <th>开发者</th>
              <!-- <th>教师人数</th> -->
              <th>缩略图</th>
              <th>网址</th>
              <th>时间</th>
              <th>操作</th>
          </tr>
          </thead>
          <tbody>
          {volist name="codata" id="v"}
          <tr>
              <td ><input type="checkbox" name="id" value="{$v.cid}" /></td>
              <td>{$v.classname}</td>
              <td><span class="badge badge-danger">{$v.clnum}</span></td>
              <!-- <td><span class="badge badge-success">{$v.tenum}</span></td> -->
              <td>
                  <button onclick="_openLayerUrl('{:U('create',array('cid'=>$v['cid']))}', '修改')" class="btn btn-info " type="button"><i class="fa fa-paste"></i> 编辑</button>
                  <input type="hidden" name="oid" value="{$v.cid}">
                  <button  onclick="_del(this)" class="del btn btn-danger" type="button"><i class="fa fa-trash"></i>删除</button>
                  <button onclick="_openLayerUrl('{:U('result', array('cid'=>$v['cid']))}','正选结果')" class="btn btn-info " type="button"><i class="fa fa-file"></i>正选结果</button>

              </td>
          </tr>
          {/volist}
          </tbody>
      </table>
      {$page}
 
  {empty name='codata'}
     <div class="jumbotron">
       <div class="container">
         <h1>已经尽力了</h1>
         <p>暂时还没有专业信息，抓紧上传吧</p>
         <p>
           <a class="btn btn-primary btn-lg" onclick="javascript:history.go(-1)">返回</a>
         </p>
       </div>
     </div>
     {/empty}
  </div>
  

  
</div>


{/block}
{block name="JS"}
<script src="__JS__plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
function _del(obj){
  var oid=$(obj).prev().val();
  _ajaxmodify({url:'__CONTROLLER__/del',msg:'您确定要删除这个院系？',check:"确定",data:{id:oid}});

}
</script>
{/block}

