{extend name='Public:layouts'/}
{block name='CSS'}
<style type="text/css">

</style>

{/block}

{block name="content"}
<header class="hui-header" style="background:#26A2FF ;">
      <div id="hui-header-menu" onclick="showMenu();"></div>
      <h1><span class="hui-icons-home hui-icons"></span>首页</h1>
  </header>
  <div class="hui-swipe" id="swipe1">
    <div class="hui-swipe-item"><img src="__IMG__1.png"/></div>
    <div class="hui-swipe-item"><img src="__IMG__2.png"/></div>
    <div class="hui-swipe-item"><img src="__IMG__3.png"/></div>
  </div>
  <div class="hui-wrap" style="padding-top:30px">
    <!--<div class="hui-center-title" style="margin-top:0px;"><h1 style="margin:0px 10px ;text-align: left;">院系查看</h1></div>-->   
    <div class="hui-img-list" id='list2'>
        <ul>
         {volist name="Dedata" id='vo'}
            <li>
                <a href="{:U('Depart/detail',array('id'=>$vo['id']))}">
                    <img src="{$vo.pic|default='__IMG__icondefault.jpg'}" />
                    <div class="hui-img-list-content">
                        <h1>{$vo.departname}</h1>
                        <p>{$vo.desc}</p>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>
        
    </div>
    {$showpage}

</div>


{/block}
{block name="JS"}
<script src="__JS__hui-swipe.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
var swipe1 = new huiSwpie('#swipe1');
        swipe1.autoPlay = true;
        swipe1.delay=3000;
        swipe1.run();
</script>
{/block}


