{extend name='Public:layouts'/}
{block name='CSS'}
<style type="text/css">

</style>

{/block}

{block name="content"}

<div class="hui-wrap">
<form action="{:U('dologin')}" id='signupForm' method="post">
    <div style="margin:10px; margin-bottom:15px;" class="hui-form" id="form1">
        <div class="hui-form-items">
            <input type="text" name="username"  id='username' class="hui-input hui-input-clear" placeholder="用户名" checkType="string" checkData="5,20" checkMsg="用户名应为5-20个字符" />
        </div>
        <div class="hui-form-items">
            <input type="password" name="password"  class="hui-input hui-pwd-eye" placeholder="登录密码" checkType="string" id="pwd" checkData="6,20" checkMsg="密码应为6-20个字符" />
        </div>
         <div class="hui-form-items">
      <div class="hui-form-radios">
       <input type="hidden"  id='role' value='te'>
      <input type="radio" value="te" name="role" id="g1" checked="checked" onchange="showSelectRes(this);" /><label for="g1">教师</label>
      <input type="radio" value="st" name="role" id="g2" onchange="showSelectRes(this);" /><label for="g2">学生</label>
      </div>
    </div>
    
    </div>

  </form>
     <div style="padding:10px; padding-top:0px;">
        <input type="hidden" id="url" value="{:U('dologins')}">
        <button  class="hui-button hui-button-large hui-primary" id="submit">立即登录</button>
    </div>
 
</div>
<p style="padding:10px"><a href="{:U('Login/register')}">没有帐号，请先注册</a></p>
<p style="padding:10px"><a href="{:U('Ming/getOauth',array('type'=>'qq'))}" onclick="return confirm('学生才可以第三方登录，老师请走正常线路登录，请确认一下您的身份');"> <center><button  class="hui-button hui-button-small hui-danger" >使用QQ授权登录</button></a></center></p>
{/block}
{block name="JS"}
<script src="__JS__hui-form.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__base.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
hui.formInit();
function showSelectRes(_selfBtn){
    var val;
    hui(_selfBtn).parent().find('input').each(function(cObj){
        if(cObj.checked){val = cObj.value;}
    });
    hui('#role').val(val);
}
hui('#submit').click(function(){
    var res = huiFormCheck('#signupForm');
    if(res){
      var url=hui('#signupForm').attr('action');
      var data={'username':hui('#username').val(),'role':hui("#role").val(),'password':hui('#pwd').val()}
       _ajaxsubmit({'url':url,'data':data});
      }
    });


</script>
{/block}


