{extend name='Public:layouts'/}
{block name='CSS'}
<style type="text/css">

</style>

{/block}

{block name="content"}


    
    <!-- 导航图 -->
  <div class="container-fluid" >

   <div class="WU_info">
    <div class="row WU_inforow ">
   <span class='WU_infoheader'>所有院系</span>
   

      </div>
     <div class="row" style="padding-top:15px; ">
    {volist name='dedata' id='data'}
    <div class="col-sm-3">
    <div class="thumbnail">
          <img  width="100%" src="{$data.img |default='__IMG__a2.jpg'}" alt="...">
          <div class="caption">
            <h3>{$data.departname}</h3>
            <p>{$data.desc|default='华北水利水电华北水利水电华北水利水电华北水利水电华北水利水电华北水利水电'}</p>
            <p>
            <a href="{:U('Depart/detail',array('id'=>$data['id']))}" class="btn btn-success" style="font-size: 16px" role="button">进系查看</a>
             <button href="#" class="btn btn-default pull-right" role="button"><span class="fa fa-star"></span>点赞[{$data.clicknum}]</button></p>
             <p  class="WU_slidep">
            <button type="button" class="WU_leiji btn btn-large btn-block btn-success">
              <span class="badge" style="font-size: 16px">学生访问累计量{$data.visitnum}</span>
            </button>
            </p>
          
             
          </div>
    </div>
    </div>
    {/volist}
    
  
  

     </div>
{$showpage}

 </div>
------------------
  
</div>


{/block}
{block name="JS"}
<script type="text/javascript">
  myscroll=$(".WU_myscroll")[0];
  myscrollafter=$(".WU_myscrollafter")[0];
  scrollinfo=$(".WU_scrollinfo")[1];
  myscrollafter.innerHTML=myscroll.innerHTML;
  // alert(myscroll.offsetHeight);
  // alert(scrollinfo.scrollTop);
    // setInterval(function(){
    //  if(scrollinfo.scrollTop>=myscroll.offsetHeight)
    //    scrollinfo.scrollTop=scrollinfo.scrollTop-myscroll.offsetHeight;
    //  else
    //    scrollinfo.scrollTop++;
    //  },10)

</script>
{/block}

<!-- <table class="table table-hover">
      <thead>
        <tr>
        <th>学院</th>
        <th>专业</th>
        <th>姓名</th>
        <th>学号</th>
        <th>毕设题目</th>
        <th>指导教师</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>学院</td>
        <td>专业</td>
        <td>姓名</td>
        <td>学号</td>
        <td>毕设题目</td>
        <td>指导教师</td>
        </tr>
      </tbody>
    </table> -->