{extend name='Public:layout'/}
{block name="CSS"}
{/block}
{block name="MAIN"}
  <div id="main">
         
            <div class="content">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="options">
                           <ul id="filters" class="option-set clearfix" data-option-key="filter">
                              <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
                              <li><a href="#filter" data-option-value=".web">HTML</a></li>
                              <li><a href="#filter" data-option-value=".wp">Wordpress</a></li>
                              <li><a href="#filter" data-option-value=".css">CSS</a></li>
                              <li><a href="#filter" data-option-value=".jquery">jQuery</a></li>
                              <li><a href="#filter" data-option-value=".php">PHP</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                           <div class="portfolio three-column">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 web jquery item">
                                 <div class="portfolio-item">
                                    <a href="img/portfolio/portfolio-1.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span><img src="img/portfolio/portfolio-1.jpg" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                       <a href="single-project.html">Design Team</a>
                                       <p>
                                          Design / Development
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wp css item">
                                 <div class="portfolio-item">
                                    <a href="img/portfolio/portfolio-2.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span><img src="img/portfolio/portfolio-2.jpg" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                       <a href="single-project.html">Super Boy</a>
                                       <p>
                                          Fashion / Style
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 php jquery wp item">
                                 <div class="portfolio-item">
                                    <a href="img/portfolio/portfolio-3.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span><img src="img/portfolio/portfolio-3.jpg" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                       <a href="single-project.html">Lady Shop</a>
                                       <p>
                                          Business / Ecommerce
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wp jquery css item">
                                 <div class="portfolio-item">
                                    <a href="img/portfolio/portfolio-4.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span><img src="img/portfolio/portfolio-4.jpg" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                       <a href="single-project.html">Office Workers</a>
                                       <p>
                                          Design / Development
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 web css wp item">
                                 <div class="portfolio-item">
                                    <a href="img/portfolio/portfolio-5.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span><img src="img/portfolio/portfolio-5.jpg" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                       <a href="single-project.html">Idea Guy</a>
                                       <p>
                                          Idea / Development
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 web php item">
                                 <div class="portfolio-item">
                                    <a href="img/portfolio/portfolio-8.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span><img src="img/portfolio/portfolio-8.jpg" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                       <a href="single-project.html">Hair Style</a>
                                       <p>
                                          Life / Work
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wp css item">
                                 <div class="portfolio-item">
                                    <a href="img/portfolio/portfolio-7.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span><img src="img/portfolio/portfolio-7.jpg" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                       <a href="single-project.html">Insurance Guy</a>
                                       <p>
                                          Life / Finance
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 web jquery item">
                                 <div class="portfolio-item">
                                    <a href="img/portfolio/portfolio-9.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span><img src="img/portfolio/portfolio-9.jpg" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                       <a href="single-project.html">Camera Support</a>
                                       <p>
                                          Support / Communication
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 css php wp item">
                                 <div class="portfolio-item">
                                    <a href="img/portfolio/portfolio-10.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span><img src="img/portfolio/portfolio-10.jpg" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                       <a href="single-project.html">Insta Genious</a>
                                       <p>
                                          App / Photo
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Main Content end-->
         </div>
{/block}

{block name="JS"} 
   <script src="__HOMEJS__spectrum.js"></script>
      <script src="__HOMEJS__jquery.isotope.js"></script>
      <script src="__HOMEJS__portfolio.js"></script>
{/block}











