
{extend name='Public:layouts'/}
{block name='CSS'}
<style type="text/css">
 #list2 li{width:50%; float:left; margin:5px 0px;}
 #hui-footer a{width: 25%;}

</style>

{/block}

{block name="content"}
  <header class="hui-header" style="background:#26A2FF ;">
      <div id="hui-header-menu"></div>
      <h1>教师查看</h1>
  </header>
<div class="hui-swipe" id="swipe1">
    <div class="hui-swipe-pre"><img src="__IMG__1.png"/></div>
  </div>
  <div class="hui-wrap">
   {empty name='tedata'}
   <div style="padding:30px;"><center><span style="font-size: 50px;color: #f40" class="hui-icons hui-icons-warn">  
  <button  onclick="history.go(-1)" type="button" class="hui-button  hui-button-large " style="color:#ffff;background: green" >不好意思未查询到相关信息，点击返回</button>
   </span>
   </center> 
    </div>
    {/empty}
    <div class="hui-media-list" style="padding:10px;">
      {volist name='tedata' id="data"}
      <ul>
        <li>
          <a href="{:U('lists',array('id'=>$data['idt']))}">
            <div class="hui-media-list-img"><img src="{$data.photo|default='__IMG__a2.jpg'}" /></div>
            <div class="hui-media-content">
              <h1>姓名：{$data.realname}</h1>
              <p>简介：{$data.desct| default='该老师是优秀教师'}</p>
              <p>在选课程数目：<span class="hui-badge hui-primary">{$data.total}</span></p>
            </div>
            <a href="{:U('lists',array('id'=>$data['idt']))}">
            <button style="position: absolute;right: 5px;top:50%;margin-top:-15px;height:30px;" type="button" class="hui-button hui-primary  hui-button-small ">查看</button>
            </a>
          </a>
        </li>
      </ul>
      {/volist}

    </div>
    <center>{$showpage}</center>  
  </div>

{/block}
{block name="JS"}
<script type="text/javascript">
  

</script>
{/block}

